Repository RITesports/Website, pull requests merged in 2020-07, with the labels that each got.

#77 Login Verb
  react-app/src/components/Header/Header.tsx
Labels: Bug, React

#76 Github and Branding Guide
  react-app/public/RITEsports_BrandingGuide_7.pdf
  react-app/src/components/Header/MenuDrawer/MenuDrawer.tsx
Labels: Feature / Enhancement, React

#78 Tiger Logo Color SVG Icon
  react-app/.eslintrc.json
  react-app/src/components/Header/MenuDrawer/MenuDrawer.tsx
  react-app/src/icons/TigerLogoColor/RITEsports_TigerLogo_Color.svg
  react-app/src/icons/TigerLogoColor/TigerLogoColor.tsx
  react-app/src/icons/TigerLogoColor/index.ts
  react-app/src/icons/index.ts
Labels: Feature / Enhancement, React

#90 Konami Code Easter Egg
  react-app/package-lock.json
  react-app/package.json
  react-app/src/App/App.tsx
  react-app/src/assets/images.scss
  react-app/src/assets/images.ts
Labels: Feature / Enhancement, React

#91 404 update
  react-app/src/assets/images.scss
  react-app/src/assets/images.ts
  react-app/src/pages/NotFound/NotFound.tsx
Labels: Feature / Enhancement, React

#92 CircularProgress
  react-app/src/Routes/Routes.tsx
Labels: House Keeping, React

#93 Founders Page
  react-app/src/Routes/Routes.tsx
  react-app/src/components/Header/MenuDrawer/MenuDrawer.tsx
  react-app/src/pages/Founders/Founders.tsx
  react-app/src/pages/Founders/index.ts
Labels: Feature / Enhancement, React

#94 Founders Fix
  react-app/src/pages/Founders/Founders.tsx
Labels: House Keeping, React

#95 Profiles
  express-api/.eslintrc.json
  express-api/src/controllers/profile/index.ts
  express-api/src/controllers/profile/profile.ts
  express-api/src/middleware/auth/profile/index.ts
  express-api/src/middleware/auth/profile/profile.ts
  express-api/src/models/profile/game/game.ts
  express-api/src/models/profile/game/index.ts
  express-api/src/models/profile/index.ts
  express-api/src/models/profile/profile.ts
  express-api/src/models/team/division/player/player.ts
  express-api/src/models/user/user.ts
  express-api/src/routes/api/api.ts
  express-api/src/routes/api/profiles/index.ts
  express-api/src/routes/api/profiles/profiles.ts
  express-api/src/services/profile/index.ts
  express-api/src/services/profile/profile.ts
  express-api/src/services/user/user.ts
  react-app/src/Routes/Routes.tsx
  react-app/src/assets/images.scss
  react-app/src/assets/images.ts
  react-app/src/components/Header/Header.tsx
  react-app/src/components/cards/Game/GameCard.tsx
  react-app/src/components/cards/Game/index.ts
  react-app/src/components/cards/Player/PlayerCard.tsx
  react-app/src/components/cards/Profile/ProfileCard.tsx
  react-app/src/components/cards/Profile/index.ts
  react-app/src/components/details/Team/Division/DivisionDetails.tsx
  react-app/src/components/forms/Profile/Game/GameForm.tsx
  react-app/src/components/forms/Profile/Game/index.ts
  react-app/src/components/forms/Profile/ProfileForm.tsx
  react-app/src/components/forms/Profile/index.ts
  react-app/src/components/forms/Team/Division/Player/PlayerForm.tsx
  react-app/src/models/profile/game/game.ts
  react-app/src/models/profile/game/index.ts
  react-app/src/models/profile/index.ts
  react-app/src/models/profile/profile.ts
  react-app/src/models/team/division/player/player.ts
  react-app/src/models/user/user.ts
  react-app/src/pages/Profile/Profile.tsx
  react-app/src/pages/Profile/index.ts
  react-app/src/pages/ProfileEdit/ProfileEdit.tsx
  react-app/src/pages/ProfileEdit/index.ts
  react-app/src/pages/TeamEdit/TeamEdit.tsx
  react-app/src/utils/profile/actions.ts
  react-app/src/utils/profile/index.ts
  react-app/src/utils/profile/profileReducer.ts
  react-app/src/utils/profile/useProfile.ts
  react-app/src/utils/team/actions.ts
  react-app/src/utils/team/teamReducer.ts
Labels: Express, Feature / Enhancement, MongoDB, React

#97 Profile Fix
  react-app/src/pages/Profile/Profile.tsx
  react-app/src/pages/ProfileEdit/ProfileEdit.tsx
Labels: House Keeping, React

#109 Google Analytics
  react-app/public/index.html
Labels: Feature / Enhancement, React

#113 Remove Log
  express-api/src/services/profile/profile.ts
Labels: Express, House Keeping

#112 Assets Link Update
  react-app/src/App/App.tsx
  react-app/src/assets/images.ts
  react-app/src/components/Header/Header.tsx
  react-app/src/components/cards/Player/PlayerCard.tsx
  react-app/src/components/cards/Profile/ProfileCard.tsx
  react-app/src/components/cards/Team/TeamCard.tsx
  react-app/src/pages/NotFound/NotFound.tsx
  react-app/src/pages/Profile/Profile.tsx
  react-app/src/pages/ProfileEdit/ProfileEdit.tsx
Labels: House Keeping, React

#114 More assets update
  react-app/src/App/App.tsx
  react-app/src/assets/assets.ts
  react-app/src/assets/images.scss
  react-app/src/assets/index.ts
  react-app/src/components/Header/Header.tsx
  react-app/src/components/cards/Player/PlayerCard.tsx
  react-app/src/components/cards/Profile/ProfileCard.tsx
  react-app/src/components/cards/Team/TeamCard.tsx
  react-app/src/pages/NotFound/NotFound.tsx
  react-app/src/pages/Profile/Profile.tsx
  react-app/src/pages/ProfileEdit/ProfileEdit.tsx
Labels: House Keeping, React

#141 Youtube link
  react-app/src/components/Header/MenuDrawer/MenuDrawer.tsx
  react-app/src/components/forms/Profile/ProfileForm.tsx
  react-app/src/pages/Profile/Profile.tsx
Labels: House Keeping, React
